<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="layout" content="main"/>
    <title>Qué Es Multikirolak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/multikirola/">
                <img src="../../assets/images/icon_kirolak.png"/>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <!--<div class="jumbotron">-->
    <!--<div class="row">-->
        <h1>Multideporte</h1>

        <div class="row">
            <p class="lead">
                <strong>Si estudias en Primaria y quieres participar en el programa de Multikirolak rellena este <a
                        href="#">formulario</a>
                </strong>
            </p>
        </div>
        <p><a href="http://www.getxo.eus/DocsPublic/Getxo_Kirolak/calendMultikirolak_2017-18_4.edic.pdf">Programa de
            actividades de la temporada 2017/18</a></p>
        <p>El deporte es un excelente medio para transmitir aspectos fundamentales para el desarrollo psicomotor de
            los
            niños y las niñas a quienes va dirigido el programa de <strong>Multikirolak</strong>. Por ello, <strong>Getxo
                Kirolak</strong> vuelve a trabajar esta temporada 2017/18 con los centros escolares y los clubes del
            municipio con el objetivo de impulsar el deporte y las alternativas de ocio saludable dirigidas a la
            comunidad
            escolar.</p>
        <p><img class="img_left" src="http://www.getxo.net/ImagesPublic/Kirolak/multikirolak1.jpg"
                alt="Multikirolak"
                width="561" height="287"/></p>
        <p>Con el programa de <strong>Multikirolak </strong>–Premio Bizkaia 2008 por el fomento del deporte escolar–
            queremos que las y los estudiantes getxotarras conozcan una oferta variada de deportes para que, más
            adelante,
            cuando quieran elegir una u otra modalidad, sepan tomar una buena decisión.</p>
        <p>Las actividades organizadas por el programa de <strong>Multikirolak </strong>garantizan una aproximación
            a la
            práctica deportiva siguiendo metodologías adecuadas a la edad de quienes participan (entre otras, evitar
            la
            especialización temprana). Cabe subrayar, también, el hecho de que su acercamiento a los clubes del
            municipio y
            a los espacios en los que se practica la actividad física favorece que adquieran el hábito de hacer
            deporte.
        </p>
        <p>Estas actividades van dirigidas a la etapa de <strong>Primaria (6, 7, 8, 9 y 10 años)</strong> y se
            realizan
            en
            <strong>horario extraescolar.</strong> El programa incluye, además, <strong>encuentros deportivos
                (topaketak)</strong> y <strong>excursiones (txangoak)</strong> que normalmente se organizan los
            sábados
            por
            la mañana.</p>
        <h3>Encuentro deportivo (topaketa)</h3>
        <p><img class="img_left" src="http://www.getxo.net/ImagesPublic/Kirolak/multikirolak2.jpg"
                alt="Multikirolak"
                width="561" height="287"/></p>
        <p>Después de practicar una modalidad durante 8 sesiones en los centros escolares, se convoca a los niños y
            las
            niñas para disputar encuentros no competitivos o practicar ejercicios y juegos relacionados con esta
            modalidad.</p>
        <h3>Excursión (txangoa)</h3>
        <p><img class="img_left" src="http://www.getxo.net/ImagesPublic/Kirolak/multikirolak3.jpg"
                alt="Multikirolak"
                width="561" height="287"/></p>
        <p>Se trata de una actividad deportiva no preparada previamente en la que se descubren modalidades menos
            conocidas.
            Las excursiones están abiertas a la participación de sus familiares.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>

    <!--</div>-->
    <!--</div>-->
</div>


</body>
</html>
